<nav class="navbar navbar-light bg-light" role="navigation">
  <div class="container-fluid">
    <h4 class=navbar-brand"><%= link_to 'Wikinimous', articles_path%></h4>
    <%= link_to 'New Article', new_article_path %>
  </div>
</nav>
